{% include 'adminheader.html'%}
<br> <br> <br>
<style>
table{
	border:1px solid black;
	padding:25px;
	width: 80%;
	text-align: center;
	border-radius: 20px;
}
tr:hover {background-color:lightgrey}
th{background-color:#5f4def;
	color:white;
}
</style>
<body>
	<table align='center'>
		<h1 align='center'><font color="blue">Teacher's Status</font></h1>
		<tr>
			<th>Photo</th>
			<th>Name</th>
            <th>Teacher's id</th>
			<th>Status</th>
		</tr>
		{% for row in data['app'] %}
		<tr>
			<td><img src="/{{row['photo']}}" width="200" height="200"></td>
			<td><b>{{row['NAME']}}</b></td>
			<td><img src="/{{row['photos']}}"  width="200" height="200"></td>

			{% if row['status']=='pending' %}
					<td>
						<a href="/admin/teacher_status?id={{row['teacherapplication_id']}}" style="text-decoration: none" class="btn btn-primary">Accept</a>

						<a href="/admin/teacher_status?id1={{row['teacherapplication_id']}}" style="text-decoration: none" class="btn btn-primary">Reject</a>
					</td>&nbsp;&nbsp;&nbsp;&nbsp;
					{% else %}
					<td><font color="black"><b>{{row['status']}}</b></font></td>
					{% endif %}
		</tr>

		{% endfor %}
	</table>
</body>
<br><br><br><br><br><br><br>

{% include 'footer.html'%}

