{% include 'userheader.html' %}
<br><br><br><br><br>
<style>
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: white;
	padding: 10px;
	grid-row-gap: 5px;
	grid-column-gap: 10px;
}	
.grid-item {
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	}

table{
	background-color: lightyellow;
	padding: 30px;
	text-align: center;

	}
td{
	width:50%;
	padding: 20px;
	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
tr{
	width:50%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}
input[type=text]{
	width:95%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
/*	border:1px solid black;
*/}
	input[type=submit]{
	width:95%;
	padding: 20px;

	font-family: Calibri;
	font-size: 20px;
	resize:vertical;
}

</style>
    <body >
    	<form method="post">
			<script>
  const timeout = document.getElementsByClassName('classname')
  setTimeout(hideElement, 1000) //milliseconds until timeout//
  function hideElement() {
    timeout.style.display = 'none'
</script>
<div class="classname">
  <span> &times; </span>
</div>
    	<h1 align="center"> <font size="30">Put Your Vote Here..(Vote for only one!) </font></h1>
    	<tr>
  
    		<center>
    			<th><b><font size="2">Name:</font></b></th>
				<td class="td" class="classname"><span>&times;</span>
                    <select name="name">
                        <option>Select</option>
                        {% for row in data['vo'] %}
                        <option value="{{row['candidate_id']}}">{{row['NAME']}}</option>
                         {% endfor %}
                    </select>
                </td>
			</center>
		</tr>
<p> Time is <span id="time"> </span></p>



        </center>
			<script>
				`use strict`
				var datetime = new Date();
				console.log(datetime);
				document.getElementById("time").textContent = datetime; //it will print on html page
			</script>
	<div class="grid-container">

		
			{% for row in data['vo'] %}
					<div class="grid-item">

                    <tr>
						<img src="/{{row['photo']}}" width="200" height="200">
						<!-- <b>Logo:</b><img src="/{{row['image']}}" width="200" height="200"></img></b></h3><br> -->
						<h3><b>Name:&nbsp;&nbsp;&nbsp;&nbsp;{{row['NAME']}}</b></h3><br>
						<input type="radio" name="vote" value="yes" style="background-color: #fff;margin: 0;font: inherit;color: currentColor;width: 4.15em;height: 2.15em;border: 0.15em solid currentColor;border-radius: 50%;"><b>Yes</b>
						<input type="radio" name="vote" value="no" style="background-color: #fff;margin: 0;font: inherit;color: currentColor;width: 4.15em;height: 2.15em;border: 0.15em solid currentColor;border-radius: 50%;"><b>No</b><br>
						<input type="submit" name="submit" value="Vote" style="width: 20%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;"></tr>
					</div>
			{% endfor %} 
	</div>
</form>
</body>

{% include 'footer.html' %}

